<div class="row">
    <div class="column">
        <h1> Hello <%= name %>! </h1>
        <img src = "https://images-na.ssl-images-amazon.com/images/I/8166xCVDGnL._SL1500_.jpg" width = 300>
        <br>
        <form method="get" action="schedule">
            <input type="hidden" name=username value=<%= uname %> >
            <br>
            <input type=submit class=button value="Let's get boba with someone">
        </form>
    </div>
    <div class="column"></div>
        <br>
        <h1 style="color:darkblue"> Available BobaBaes: </h1> 
            <form method="get" action="/editProfile">
                <input type="hidden" name=username value=<%= uname %> >
                <% for (var i = 0; i < potential_matches.length; i++) {%>
                    <input type="checkbox" name="requested" value=<%= potential_matches[i] %> > <%= potential_matches[i] %> <br>
                <% } %>
                <br>
                <input type=submit class=button value="request boba run">
            </form>
        <h1 style="color:darkblue"> Confirmed BobaBaes: </h1> 
            <form method="get" action="/editProfile">
                <input type="hidden" name=username value=<%= uname %> >
                <% for (var i = 0; i < requested_matches.length; i++) {%>
                    <input type="checkbox" name="requested" value=<%= requested_matches[i] %> > <%= requested_matches[i] %> <br>
                <% } %>
                <br>
                <input type=submit class=button value="confirm boba run">
            </form>  

        <h1 style="color:darkblue"> Your availability for today: </h1>
    </div>
</div>
<div class="row">
<br>
<p style="color:black"> username: <%= uname %> </p>
<p style="color:black"> city: <%= city %> </p>
<p style="color:black"> state: <%= state %> </p>
<p style="color:black"> favorite stores: </p>
<% for (var i = 0; i < stores.length; i++) {%>
    <p style="color:cornflowerblue"> - <%= stores[i] %> </p>
<% } %>
</div>  
 